* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do body e fonte */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Arial, sans-serif;
    line-height: 1.8;
    background-image: url('https://c.wallhere.com/photos/ff/84/digital_art_pixel_art_pixelated_pixels_nature_landscape_Asian_architecture_house-24165.png!s1');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    padding: 30px;
    font-size: 16px;
    position: relative;
    z-index: 1;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/* Estilizando o cabeçalho e o menu de navegação */
header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 0;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    transform: scale(1.05);
}

/* Estilizando as seções */
section {
    margin: 40px 0;
}

h1, h2 {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h3 {
    margin: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

ul li a {
    text-decoration: none;
    text-align: center;
    text-size-adjust:10px;
    display: inline-block;
    padding: 15px 25px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

ul li a:hover {
    background-color: #555;
    transform: scale(1.05);
}

p {
    color: #fff;
    margin: 20px 0;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos do formulário de contato */
form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
    color: #fff;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input, textarea {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #555;
}

button {
    padding: 15px;
    background-color: #7c0468;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #550444;
    transform: scale(1.05);
}

/* Estilos do rodapé */
footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}